[Desktop Entry]
Encoding=UTF-8
Name=Toakrona
Comment=Toakrona P2P Cryptocurrency
Comment[fr]=Toakrona, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Toakrona, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/toakrona-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/toakrona80.xpm
MimeType=x-scheme-handler/toakrona;
Categories=Office;
